*{
    margin: 0px;
    padding: 0%;
    box-sizing: border-box;
    background-color: rgb(228, 221, 221);
    font-family: Arial, Helvetica, sans-serif;
}

.heading h1{
    text-align: center;
    margin: 20px;
    color: blue;
    font-family: 'Segoe UI';
    font-size: 40px;
    font-weight: bold;
}

.form{
    text-align: center;
}

td,select,input{
    font-size: 20px;
    padding: 6px;
}

.tr-one{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}


.select{
    padding-left: 20%;
    display: flex;
    position: relative;
}

select,input{
    background-color: #ece7e7;
    cursor: pointer;
}

.name{
    padding-right: 20%;
}

span{
    color: red;
}

.slt-2{
    padding-right:150px ;
}
